@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
/* repeatable pattern */
:root{
    --clr-dark: #2b2b2b;
    --clr-light: #fff;
    --clr-primary: #1b8b83;
    --clr-secondary: #cfa584;
    --clr-semilight: #d9d9d9;
    --font: "Truculenta", sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: var(--clr-dark);
    font-family: var(--font);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }

  /* HEADER */
  .header{
    padding: 2rem 0;
    background-color: var(--clr-semilight);
  }
  .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .header .header__wrapper ul li a{
    font-weight: 700;
    color: var(--clr-dark);
    font-size: 2rem;
  }
  .header .header__wrapper ul li a:hover{
    color: var(--clr-primary);
  }
 
 /* MOBILE RESPONSIVE */
 .header .toggle__menu span{
    color: var(--clr-primary);
    width: 3rem;
    height: .3rem;
    border: 2px solid;
    border-radius: 1rem;
  }
  .header .toggle__menu{
    display: none;
  }
  @media screen and (max-width: 520px){
    .header .toggle__menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .header .header__nav {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: var(--clr-semilight);
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      z-index: 9;
      transition: all 0.5s ease;
      transform: translateY(-18rem);
      margin-top: 26rem;
      gap: 2rem;
      right: -100rem;
    }
    .header__nav.open{
      right: 0;
      transition: all 0.5s ease;
    }
  
    .header .header__wrapper img {
      width: 10rem;
    }
/* Menu Button rotation */
    .toggle__menu.open span:first-child{
      transform: translate(0, 10px) rotate(230deg);
      transition: .5s ease;
    }
    .toggle__menu.open span:nth-child(2){
      opacity: 0;
      transition: .5s ease;
    }
    .toggle__menu.open span:last-child{
      transform: translate(0, -7px) rotate(-230deg);
      transition: .5s ease;
    }
  }

  /* TOP */
  .top{
    background-color: var(--clr-secondary);
    padding: 3rem 0;
    text-align: center;
  }
  .top span{
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }
  .top h4{
    line-height: 2.2rem;
    font-size: 3rem;
    font-weight: 700;
  }
/* HOME BANNER */
  .homeBanner{
   padding-top: 3rem;
   padding-bottom: 7rem;
  }
  .homeBanner__wrapper{
    display: flex;
    justify-content: space-between;
  }
  .homeBanner__left{
    max-width: 80rem;
  }
  .homeBanner__left ul li{
    line-height: 5rem;
  }
  .homeBanner__left ul li:first-child{
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 700;
  }
  .homeBanner__left ul li:nth-child(2){
    color: var(--clr-secondary);
    font-size: 5rem;
    font-weight: 700;
    margin-left: 7rem;
  }
  .homeBanner__left ul li:last-child{
    /* position: absolute; */
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 100;
  }
  .homeBanner__left ul li:last-child::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 20rem;
    height: .2rem;
    bottom: 1rem;
    right: 1rem;
  }
  .homeBanner__left p{
    margin-bottom: 5rem;
  }
  .homeBanner__right{
    display: flex;
    gap: 2rem;
  }
  .homeBanner__right img:last-child{
    position: relative;
    top: 4rem;
  }
  @media screen and (max-width: 520px){
    .homeBanner__wrapper{
        flex-direction: column;
    }
    .homeBanner__left ul li:last-child::before{
        width: 10rem;
    }
    .homeBanner__right{
        display: none;
    }
  }


  /* ABOUT SECTION */
  .aboutSection{
    padding: 3rem 0;
    background-color: var(--clr-dark);
  }
  .aboutSection  h2{
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
  }
  .aboutSection  h2::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    height: .2rem;
    width: 120rem;
    bottom: 1rem;
    right: 1rem;
  }
  .aboutSection__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
  }
  .aboutSection__right{
    max-width: 100rem;
  }
.aboutSection__right p{
  color: var(--clr-light);
  margin-bottom: 2rem;
}
/* ABOUT SECTION MOBILE (IMAGE REMOVED) */
@media screen and (max-width:520px) {
    .aboutSection__left{
        display: none;
    }
    .aboutSection h2::before{
        display: none;
    }
}
/* CATALOG SECTION */
.catalogSection{
  padding: 3rem 0;
}
.catalogSection__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 5rem;
}
.catalogSection h2{
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.catalogSection h2::after{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  height: .2rem;
  width: 120rem;
  bottom: 1rem;
  left: 1rem;
}
.catalogSection__card{
  background-color: var(--clr-semilight);
  max-width: 40rem;
  margin-top: 4rem;
}
.catalogSection__card img{
  width: 40rem;
}
.catalogSection__card--content{
  padding: 1rem;
}
.catalogSection__card--content h3{
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.catalogSection__card--content p{
  margin-bottom: 1rem;
}
/* CATALOG SECTION MOBILE */
@media screen and (max-width:520px){
    .catalogSection h2::after{
        display: none;
    }
    .catalogSection__wrapper{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}


/* CALL TO ACTION */
.cta{
  padding: 3rem 0;
  background-color: var(--clr-primary);
  color: var(--clr-semilight);
}
.cta__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta h2{
font-size: 2.5rem;
font-weight: 700;
}
.cta p{
  margin-bottom: 1rem;
}
element.style {
  border-top-width: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* FOOTER */
.footer{
  background-color: var(--clr-dark);
  color: var(--clr-semilight);
  padding: 1px;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
}
.footer ul{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer ul li a{
  color: var(--clr-semilight);
  align-items: end;
}
/* FOOTER MOBILE */
@media screen and (max-width:520px){
    .footer__wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
 /* ABOUT PAGE BANNER */
.about__Banner{
  padding: 3rem 0;      
}
.aboutBanner__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.aboutBanner__right{
  max-width: 100rem;
}
.aboutBanner__right h1{
 font-size: 7rem;
 font-weight: 700;
 letter-spacing: 2rem;
 margin-bottom: 2.5rem;
}
.aboutbanner h2{
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.aboutBanner__right p{
 margin-bottom: 2rem;
 text-align: justify;
}
.aboutBanner__right ul{
 display: flex;
 gap: 1rem;
}
.aboutBanner__right ul li a{
 color: var(--clr-dark);
}
.aboutBanner__left small{
 margin-left: 1rem;
 justify-content: space-evenly;
}
.aboutBanner__left small::before{
 display: inline-block;
 position: relative; 
 content: " ";
 background-color: var(--clr-primary);
 width: 25rem;
 height: .2rem;
 bottom: .5rem;
 right: 1;
}
/* ABOUT PAGE BANNER MOBILE */
 @media screen and (max-width:520px){
  .aboutBanner__left{
    display: none;
  }
  .aboutBanner__right h1{
    font-size: 4rem;
  } 
  .aboutBanner__right ul li a{
    font-size: 1.5rem;
  }
 }

/* Latest Style cards section */
.lateststyle h2{
  display: inline-block;
  position: relative;
  content: " ";
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;
  height: .2rem;
  width: 120rem;
  bottom: 1rem;
}
.lateststyle p{
  text-align: justify;
  color: var(--clr-light);
}
.lateststyle h1{
  color: var(--clr-light);
  font-size: 1.5rem;
  font-weight: 1;
  justify-items: start;
}
.lateststyle{
  padding: 3rem 0;
  background-color: var(--clr-dark);
}
.lateststyle__wrapper{
  display: grid;
  grid-template-columns: 42rem 42rem 42rem;
  align-items: center;
  gap: 2rem;  
  align-content: center;
}
.lateststyle h2{
  color: var(--clr-primary);
  
}
.latestBanner__card{
  background-color: var(--clr-semilight);
  max-width: 40rem;
  margin-top: 4rem;
}
.latestBanner__card img{
  width: 40rem;
  align-content: center;
}
.latestBanner__card--content h3{
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.latestBanner__card--content p{
  margin-bottom: 1rem;
  color: var(--clr-dark);
  align-items: center;
  text-align: justify;
  margin: 10px;
}
.latestBanner h2::after{
  display: inline-block;
  position: relative;
  content: " ";
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
  height: .2rem;
  width: 120rem;
  bottom: 1rem;
}
.latestBanner__card--content{
  padding: 1rem;
  background-color: var(--clr-light);
  justify-content: center;
  align-items: center;
  
}
/* LATEST STYLE MOBILE */
@media screen and (max-width: 520px) {
 .lateststyle__wrapper::after{
  display: none;
 }
}

/* CATALOG BANNER */
.catalogBanner__bg{
  background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),url(./img/catalog-banner.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* to center the text */
  display: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.catalogBanner h1{
  font-size: 7rem;
  font-weight: 700;
  color: var(--clr-primary);
}
.catalogBanner p{
  font-size: 3rem;
  line-height: 2.5rem;
}
.description-title{
  position: absolute;
  margin-left: 525px;
  margin-top: 370px;
}
/* INTERIOR PACKAGE TEXT*/
.package__wrapper h2{
  color: var(--clr-primary);
  font-size: 3rem;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 100rem;
  display: flex;
  padding: 3rem 0;
  font-size: 3rem;
 font-weight: 700;
}

/* MINIMALIST BANNER SECTION */
.package__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package__theme {
  padding: 5rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.package__wrapper h1{
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}
.package__right{
  padding-left: 50px;
  font-size: x-large;
}
.package__right, p{
  margin-top: 90px;
  margin: 50px;
}
.description-title{
  justify-content: center;
}
.package__theme{
  padding: 3rem 25rem;
  display: flex;
  flex-direction: row;

  .package__left{
    width: 500rem;
  }

  .package__right h2{
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  }

  .package__right p{
    margin-top: 3rem;
    text-align: justify;
  }
}

.package__theme:nth-child(odd){
  background-color: var(--clr-semilight);
  flex-direction: row-reverse;
  .package__right p{
    padding-right: 10rem;

  }

  .package__left img{
    padding-left: 100px 0;
  }
}
.interior-img{
  max-width: 90%;
  width: 100rem;
  height: 50rem;
  margin-left: 17rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.retro-img{
  max-width: 90%;
  width: 100rem;
  height: 50rem;
  margin-right: 17rem;
  margin-top: 5rem;
  margin-bottom: 5rem; 
}
.shabby-img{
  max-width: 90%;
  width: 100rem;
  height: 50rem;
  margin-left: 17rem;
  margin-top: 9rem;
  margin-bottom: 5rem;
}

@media(max-width: 460px){
  .description-title h1{
    left: 20rem;
  }
  .package__right h2{
    justify-content: center;
    flex-direction: column;
  }
  .package__wrapper h1 p{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .catalogBanner__bg{
    justify-content: center;
  }
  .interior-img{
    flex-direction: column-reverse;
    padding: 50rem;
    margin-left: 50rem;
    width: 100rem;
  }
  .package__right h2 p{
    font-size: 3rem;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 100rem;
    display: flex;
    padding: 3rem 0;
    font-size: 3rem;
   font-weight: 700;
  }
  .package__wrapper{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .package__theme{
    flex-direction: column;
  }
  .interior-img{
    justify-content: sta;
    position: relative;
    width: 50rem;
    height: 50rem;
  }
} 
  
 /* UPDATES */
.updates{
  padding: 50px 0;
}
.updates_wrapper{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.updates_content{
  padding: 40px 0;
  max-width: 500px;
  width: 100%;
}
.updates_content h1{
  text-align: center;
  font-size: 6rem;
  color: var(--clr-primary);
  margin-bottom: 20px;
  font-weight: 700;
}
.updates_content p{
  text-align: justify;
  padding-top:  30px;
}
/* Catalog */
.catalog{
  padding: 50px 0;
}
.catalog h2{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--clr-secondary);
}
.catalog__wrapper{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 50px;
}

.catalog__cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.catalog__cards .card{
  padding: 20px;
  background-color: var(--clr-semilight);
}
.catalog__cards .card h4{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--clr-primary);

}
.catalog__cards ul li{
  justify-content: flex-end;
  align-items: end;
  display: flex;
  font-size: 3.5rem;
  font-weight: 700;
}
.catalog__sidebar ul{
    font-size: 2.5rem;
   font-weight: 700;
   margin-bottom: 20px;
   list-style: none;
}
.catalog__sidebar ul li{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  justify-content: space-between;
}
/* Project cards and Recent */
.Project{
  padding: 50px;
}
.Project h2{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: var(--clr-primary);
}
.Project__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.Project__wrapper ul{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.card__wrapper ul li{
  color: var(--clr-dark);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.Project__wrapper img{
  width: 100%;
  margin-bottom: 10px;
}
.project__card ul li a{
  color: var(--clr-dark);
}
.card ul li a{
  color: var(--clr-dark);
}
@media(max-width: 460px) {
  .catalogBanner__wrapper{
    flex-direction: column-reverse;
    font-size: 0 15px;
    display: flex;
  }
  
}
/* Contacts Section */
section .contacts{
  width: 100px;
  }
  section .contact{
    font-size: xx-large;
  }
  section .contact h1{
    font-size: 80px;
  }
  section .container1{
    margin-top: 10px;
    padding: 150px 150px;
  }
  section form{
    margin-top: 150px;
  }
  .contact h1{
    font-size: xx-large;
    color:var(--clr-primary);
    font-weight: 1000;
  }
  .contact-header{
    background-color: var(--clr-light);
    margin-bottom: 200px;
  }
  
  input[type = "text"]{
    justify-content: center;
    border: none;
    border-bottom: 2px solid gray;
    padding: 3px 0px;
    margin-bottom: 45px;
    font-size: large;
    outline: none;
  }
  
  .send{
    border-radius: 25px;
    background-color: black;
    color: var(--clr-light);
    padding: 0px 215px;
    font-size: x-large;
    font-family: "Truculenta", sans-serif;
  }
  .contacts .Message{
    height: 150px;
  }
  
  /* INFO BLOCK*/
  section .info{
    justify-content: center;
    background-color: var(--clr-dark);
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 1200px;
    margin-bottom: 250px;
    margin-top: -700px;
    
    color:var(--clr-light);
  }
  section .info .content{
    padding: 80px 40px 0px 40px;
  }
  section .content .H1{
    font-size: 35px;
    font-weight: 700;
  }
  section .content h1, span{
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: x-large;
  }
  section .content .descript{
    margin-bottom: 30px;
  }
  section .content .descript i{
    font-size: 25px;
    color: var(--clr-secondary);
  }


 /* REPEATABLE  */
    .btn{
      background-color: transparent;
      border: transparent;
      border-radius: 10rem;
      padding: 1rem 2rem;
      color: transparent;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-weight: 700;
    }
    .btn.bg--semi-light{
      background-color: var(--clr-semilight);
      color: var(--clr-dark);
    }
    .btn.bg--semi-light:hover{
      background-color: var(--clr-dark);
      color: var(--clr-semilight);
    }

    .btn--nobg{
      color: var(--clr-dark);
    }
    .btn--nobg:hover{
      color: var(--clr-primary);
    }
